<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyIdNV2ph5EUcWQmCHItQTQ2CG78RRt5U</string>
	<key>GCM_SENDER_ID</key>
	<string>661051223756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rahatla.rahatlaMobile</string>
	<key>PROJECT_ID</key>
	<string>rahatla-4ac4c</string>
	<key>STORAGE_BUCKET</key>
	<string>rahatla-4ac4c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661051223756:ios:9c4e6aef73b5bc19825c69</string>
</dict>
</plist>